package ${packageName};


import com.github.pagehelper.Page;
import com.cloudeye.base.http.ReqParams;
import com.cloudeye.base.http.Result;
import ${basePackage}.${genProp.servicePackageName}.${className}Service;
import ${basePackage}.${genProp.modelPackageName}.${className};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.util.Assert;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import javax.servlet.http.HttpServletResponse;
import java.io.OutputStream;
import java.util.List;


@RestController
@RequestMapping("/${classNickName}")
public class ${className}Controller {

     @Autowired
     private ${className}Service ${classNickName}Service;

     @RequestMapping("/save")
     public Result save${className}(@RequestBody ${className} ${classNickName}){

       ${classNickName}Service.save(${classNickName});
       return new Result().success(${classNickName});
     }
     @RequestMapping("/delete")
     public Result delete${className}(@RequestBody String id){
       ${classNickName}Service.deleteById(id);
       return new Result().success();
     }
    @RequestMapping("/update")
    public Result update${className}(@RequestBody ${className} ${classNickName}) {

       ${classNickName}Service.update(${classNickName});
       return new Result().success();
    }
    @RequestMapping("/pageQuery")
    public Result pageQuery(@RequestBody ReqParams<${className}> params){
        Page<${className}> page = ${classNickName}Service.pageQueryLike(params.getData(),params.getPageNum(),params.getPageSize(),"");
        return new Result().success(page);
    }
    @RequestMapping("/queryAll")
    public Result queryList(@RequestBody ${className} ${classNickName}){
    List<${className}> list = ${classNickName}Service.queryAll(${classNickName});
        return new Result().success(list);
    }

    @RequestMapping("/detail")
    public Result queryDetail(@RequestBody String id){
        ${className} ${classNickName} = ${classNickName}Service.queryById(id);
        return new Result().success(${classNickName});
    }

}
